<%= form_with(
  model: @question,
  url: question_form_post_url(@question)
) do |f| %>
  <div class="space-y-4">
    <%= render Forms::ErrorsComponent.new(errors: @question.errors.full_messages) %>

    <%= f.fields_for :content do |f2| %>
      <%= render partial_for_question(@question), form: f2 %>
    <% end %>

    <%= render Forms::CheckboxComponent.new(form: f, method: :required, help_text: "Mark this if this question requires a response.") %>

    <div class="flex justify-between items-center">
      <% if @question.persisted? %>
        <%= link_to "Delete Question", admin_study_survey_question_path(@survey.study, @survey, @question), class: "oba-btn--danger",
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>

      <div class="flex-grow"></div>

      <%= render Forms::ButtonBarComponent.new(f) %>
    </div>
  </div>
<% end %>