<%= form_with(
  model: @question,
  url: question_form_post_url(@question)
) do |f| %>
  <div class="space-y-4">
    <%= render Forms::ErrorsComponent.new(errors: @question.errors.full_messages) %>

    <%= f.fields_for :content do |f2| %>
      <%= render partial_for_question(@question), form: f2 %>
    <% end %>

    <%= render Forms::ButtonBarComponent.new(f) %>
  </div>
<% end %>