- title "Reset Password"

= form_for @admin, url: admin_path do |f|
  = f.label :password
  = f.password_field :password, class: 'form-control'
  = f.label :password_confirmation
  = f.password_field :password_confirmation, class: 'form-control'
  = f.submit "Update Password"