= bootstrap_form_for alert_feed_item do |f|
  = f.text_field :title
  = f.text_field :url
  = f.text_area :summary
  = f.select :cause, AlertFeedItem.causes.keys.map { |k| [k.humanize, k] }
  = f.select :effect, AlertFeedItem.effects.keys.map { |k| [k.humanize, k] }
  = f.check_box :test_item
  %p.form-text.text-muted Test items are only visible to test app users. Uncheck this box to send the item out to all of your users.
  = f.submit "Add Feed Item"