<% if @items.blank? %>
  <%= render Containers::EmptyStateComponent.new(title: "No Alerts", description: "There are no alerts published from our known sources at this time.") %>
<% else %>
  <%= render Tables::TableComponent.new do |c| %>
    <% c.with_column("Title") %>
    <% c.with_column("Feed/ID") %>
    <% c.with_column("Severity") %>
    <% c.with_column("Summary") %>
    <% c.with_column("URL") %>
    <% c.with_column("Starts At") %>
    <% c.with_column("Ends At") %>

    <% if admin_logged_in? %>
      <% c.with_column("Actions") %>
    <% end %>

    <% c.with_tbody do %>
      <% @items.each do |i| %>
        <tr>
          <td class="oba-td">
            <%= i.title %>
            <% if i.test_item %>
              <br>
              <strong>TEST MODE</strong>
            <% end %>
          </td>
          <td class="oba-td">
            <div><%= i.alert_feed.name %></div>
            <div><%= i.external_id %></div>
          </td>
          <td class="oba-td">
            <%= severity_to_string(i.severity) %>
          </td>
          <td class="oba-td">
            <%= truncate(i.summary, length: 500) %>
          </td>
          <td class="oba-td">
            <%= link_to i.url, i.url %>
          </td>
          <td class="oba-td">
            <%= i.starts_at.strftime("%D %I:%M %p") %>
          </td>
          <td class="oba-td">
            <% if i.ends_at %>
              <%= i.ends_at.strftime("%D %I:%M %p") %>
            <% else %>
              —
            <% end %>
          </td>
          <% if admin_logged_in? %>
            <td class="oba-td">
              <%= link_to 'Edit Alert', edit_alert_feed_item_path(i), class: 'oba-btn--primary oba-btn--sm' %>
              <%= button_to 'Delete Alert', i, method: :delete, form: {data: {turbo_confirm: "Are you sure you want to delete this?"}}, class: 'oba-btn--danger oba-btn--sm' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  <% end %>
<% end %>
