.row
  .col-sm-12
    %h1= title

.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %th Title
          %th Pri
          %th Summary
          %th External ID
          %th Starts At
          %th Ends At
          %th Feed
      %tbody
        - @items.each do |i|
          %tr
            %td
              = i.title
              - if i.test_item
                %br
                %strong TEST MODE
            %td= i.priority
            %td
              %p.break-url= link_to i.url, i.url
              %p= truncate(i.summary, length: 500)
            %td= i.external_id
            %td
              = i.starts_at.strftime("%D %I:%M %p")
            %td
              - if i.ends_at
                = i.starts_at.strftime("%D %I:%M %p")
              - else
                —
            %td= i.alert_feed.name