- title "Alert Feed Items - #{@region.name}"

.row
  .col-sm-12
    %h1= title

.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %th Title
          %th Pri
          %th Summary
          %th External ID
          %th Published
          %th Created At
          %th Updated At
          %th Feed
      %tbody
        - @items.each do |i|
          %tr
            %td= i.title
            %td= i.priority
            %td
              %p.break-url= link_to i.url, i.url
              %p= truncate(i.summary, length: 500)
            %td= i.external_id
            %td
              = time_ago_in_words i.published_at
              ago
            %td= i.created_at
            %td= i.updated_at
            %td= i.alert_feed.name