<% title("#{@survey.name} Responses") %>
<% back_link "Back to Study", admin_study_path(@survey.study) %>
<%= render 'admins/survey_tabs' %>

<div class="flex justify-end items-center mb-4">
  <%= link_to "Download CSV", admin_study_survey_survey_responses_path(survey_id: @survey.id, format: :csv), class: "oba-btn--primary" %>
</div>

<%= render Tables::TableComponent.new do |c| %>
  <% c.with_column("ID") %>
  <% c.with_column("User ID") %>
  <% c.with_column("Stop") %>
  <% c.with_column("Stop latitude") %>
  <% c.with_column("Stop longitude") %>
  <% c.with_column("Responses") %>
  <% c.with_column("Created") %>
  <% c.with_column("Updated") %>

  <% c.with_tbody do %>
    <% @survey_responses.each do |r| %>
      <tr>
        <td class="oba-td">
          <%= link_to r.to_param, admin_study_survey_survey_response_path(@survey.study, @survey, r), class: 'link' %>
        </td>
        <td class="oba-td">
          <%= r.user_identifier %>
        </td>
        <td class="oba-td">
          <%= (r.stop_identifier.blank? || r.stop_identifier == "null") ? "N/A" : r.stop_identifier %><br>
        </td>
        <td class="oba-td">
          <%= (r.stop_identifier.blank? || r.stop_identifier == "null" || r.stop_latitude == 0.0) ? "N/A" : r.stop_latitude %><br>
        </td>
        <td class="oba-td">
          <%= (r.stop_identifier.blank? || r.stop_identifier == "null" || r.stop_longitude == 0.0) ? "N/A" : r.stop_longitude %><br>
        </td>
        <td class="oba-td">
          <%= r.responses.to_json %>
        </td>
        <td class="oba-td">
          <%= r.created_at %>
        </td>
        <td class="oba-td">
          <%= r.updated_at %>
        </td>
      </tr>
    <% end %>
  <% end %>
<% end %>

<% if @pagy.pages > 1 %>
  <%== pagy_nav(@pagy) %>
<% end %>