<% title @survey.name %>
<% back_link "Back to Study", admin_study_path(@survey.study) %>

<div class="space-y-4">
  <div>
    <%= link_to "New Text Field", new_admin_study_survey_question_path(@survey.study, @survey, content: 'text'), class: 'oba-btn' %>
    <%= link_to "New Label", new_admin_study_survey_question_path(@survey.study, @survey, content: 'label'), class: 'oba-btn' %>
    <%= link_to "New Radio List", new_admin_study_survey_question_path(@survey.study, @survey, content: 'radio'), class: 'oba-btn' %>
    <%= link_to "New Checkbox List", new_admin_study_survey_question_path(@survey.study, @survey, content: 'checkbox'), class: 'oba-btn' %>
  </div>

  <% if @survey.questions.blank? %>
    <%= render Containers::EmptyStateComponent.new(
      title: "No Survey Questions",
      description: "Add survey questions to this survey to collect data from participants."
    ) %>
  <% else %>
    <div
      data-controller="sortable"
      data-sortable-resource-name-value="question"
      data-sortable-response-kind-value="json"
      data-sortable-animation-value="150"
      data-sortable-handle-value=".handle">
      <% @survey.questions.each do |sq| %>
        <div
          data-sortable-update-url="<%= admin_study_survey_question_path(@survey.study, @survey, sq) %>"
          class="border bg-slate-50 p-2">
          <div class="flex">
            <div class="handle self-center cursor-move">
              <%= render("icons/grip_vertical_solid", classes: "w-4 h-4 fill-gray-500") %>
            </div>
            <div class="flex-1">
              <h3 class="h3"><%= sq.content.type.titleize %></h3>
            </div>
          </div>
          <pre><code>
            <%= sq.content.to_json.strip %>
          </code></pre>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
