<ul>
  <li>ID: <%= @region.id %></li>
  <li>Region API ID: <%= @region.region_identifier %></li>
  <li>Name: <%= @region.name %></li>
  <li>API URL: <%= link_to @region.api_url, @region.api_url %></li>
  <li>Web URL: <%= link_to @region.web_url, @region.web_url %></li>

</ul>