.row
  .col-sm-12
    %h1= @region.name

.row
  .col-sm-12
    %h2 Developer Info
    %ul
      %li Region ID: #{@region.id}
      %li Region API ID: #{@region.region_identifier}
      %li API URL: #{link_to @region.api_url, @region.api_url}
      %li Web URL: #{link_to @region.web_url, @region.web_url}

.row
  .col-sm-12
    %h2 Alert Feeds
    %table.table
      %thead
        %tr
          %th ID
          %th Name
          %th URL
          %th Last Fetched
      %tbody
        - @region.alert_feeds.each do |af|
          %tr
            %td= af.id
            %td= af.name
            %td
              - if af.url.blank?
                n/a
              - else
                = link_to af.url, af.url, target: "_blank"
            %td
              - if af.last_fetched
                = time_ago_in_words af.last_fetched
                ago
              - else
                —