- fluid_container(true)

.row
  .col-sm-2
    .list-group.mb-3
      = link_to_list_group_item 'Home', admin_path
      = link_to_list_group_item 'Alert Feed', alerts_admin_path
      = link_to_list_group_item 'Alarms', alarms_admin_path
    %p.text-center
      = link_to 'View Public Page', current_admin.region

  .col-sm-10
    = yield

- parent_layout "application"