<!DOCTYPE html>
<html>
  <%= render 'common/head' %>
  <body>
    <nav class="navbar navbar-dark bg-oba">
      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag 'oba_logo.png', alt: "OneBusAway Logo", title: "OneBusAway",  height: "30" %>
        OneBusAway
      </a>
    </nav>
    <div class='<%= fluid_container ? "container-fluid" : "container" -%>'>
      <%= yield %>
    </div>
  </body>
</html>
